[Desktop Entry]
Type=Application
Name=Woxxy
Comment=LAN File Sharing App
Exec=woxxy
Icon=woxxy
Terminal=false
Categories=Network;FileTransfer;
X-GNOME-UsesNotifications=true
Actions=open;